body {
    background-color: rgb(24, 24, 24);
}


.center {
        text-align: center;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-top: 5%;
}



.selectors {
    padding-top: 50px;
    text-align: center;
}



.button * {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(11, 121, 223);
    font-size: 25px;
    border-radius: 7px;
    border: white;
    outline: none;
    display: inline-block;
    transition: .25s;
}




.button:hover > * {
    opacity: 0.5;
} 
.button:hover > *:hover {
    transform: scale(1.1);
    opacity: 1;
}
.button {
    pointer-events: none;
} 
.button > * {
    pointer-events: auto;
}



.sorting {
    text-align: center;
    vertical-align: middle;

}

.sorting > * {
    display: inline-block;
    margin: 2px 2px;
}


.rectangle {
    background-color: rgb(255, 89, 0);
    font-family: 'Montserrat', sans-serif;
    color: white;
    vertical-align: text-bottom;
    transition: padding-top 0.5s;
    border-radius: 3px 3px;
}



#speedVal {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#speedRange {
    direction: rtl
  }